// {{  ansible_managed }}

object ApiListener "api" {
  cert_path = "{{ icinga2_api_cert_path }}"
  key_path = "{{ icinga2_api_key_path }}"
  ca_path = "{{ icinga2_api_ca_path }}"

/* Probably not needed
 * ticket_salt = "{{  icinga2_ticketsalt }}"
 */
{% if icinga2_cluster_is_master %}
   accept_commands = true
   accept_config = false
{% else %}
   accept_commands = true
   accept_config = true
{% endif %}

{% if icinga2_api_bindhost is defined %}
    bind_host = "{{ icinga2_api_bindhost  }}
{% endif %}
{% if icinga2_api_bindport is defined %}
    bind_port = {{ icinga2_api_bindport }}
{% endif %}
}
